
@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


$font-family-sans-serif: 'Open Sans', sans-serif;
$headings-font-family: 'Playfair Display', serif;


$primary: #00954c; // Verde Betis
$body-bg: #fafafa; // Fondo claro Zen
$body-color: #6b6f73; // Texto Pizarra
$text-muted: #8d9195; // Texto secundario
$secondary: #d6d6d6; // Gris divisor

$border-radius: 0.25rem;


@import 'bootstrap/scss/bootstrap';